//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
// $primary: #7CAE49;
$primary: #319795;
// $primary: #F79307;
// $primary: #FD8065;
// $primary: #f79307;

$font-family-sans-serif: 'Kanit', Helvetica, Arial, serif !default;
$font-family-monospace: 'Kanit', Helvetica, Arial, serif !default;